# Ignore everything
/*
/*/

# Except git tidbits
!.gitignore
!.gitattributes

# The actually needed content
!/Assets/
!/ProjectSettings/
!/Packages/manifest.json

# .csproj files of toitnups
!/.tn/
!/.tn/*/
/.tn/*/*
!/.tn/*/integration.*.csproj
!/.tn/*/integration.*.config.json

# And maybe some readmes
!/readme.md
!/readme.txt